.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search_form_container {
    background-color: white;
    width: 100%;
    max-width: 1200px; /* Maximum width for larger screens */
    height: auto; /* Adjust height based on content */
    border-radius: 2rem;
    padding: 1.5rem 2.5rem;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex; /* Allow elements to wrap on smaller screens */
    gap: 1rem; /* Add some gap between items */
    justify-content: space-between;
    align-items: center;
}

.date_and_time_picker {
    display: flex;
    flex-wrap: wrap; /* Wrap elements to next line on smaller screens */
    gap: 1rem;
    width: 100%; /* Ensure the container takes full width */

    .to_label{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .search_form_container {
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    .date_and_time_picker {
        flex-direction: column; /* Stack the fields vertically on small screens */
    }

    .MuiAutocomplete-root,
    .MuiTextField-root,
    .MuiDatePicker-root,
    .MuiTimePicker-root {
        width: 100% !important; /* Ensure all fields take full width on small screens */
    }
}

@media (min-width: 600px) {
    .MuiAutocomplete-root,
    .MuiTextField-root,
    .MuiDatePicker-root,
    .MuiTimePicker-root {
        width: 48%; /* Take half the width on medium screens and above */
    }
}

@media (min-width: 900px) {
    .MuiAutocomplete-root,
    .MuiTextField-root,
    .MuiDatePicker-root,
    .MuiTimePicker-root {
        width: 23%; /* Adjust width for large screens */
    }
}
